// TODO ::: refactor

// COLORS - variables
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$tertiary: var(--tertiary-color);
$textPrimary: var(--text-primary-color);
$textSecondary: var(--text-secondary-color);
$backgroundPrimary: var(--background-primary-color);
$backgroundSecondary: var(--background-secondary-color);

// CONTAINERS
$container-max-width: var(--container-width);
$inner-container-max-width: 800px;

// COLORS - extra
$gray-light: rgba(219,200,190,0.4);
$gray-dark: rgba(30,32,37, 0.4);
$black: #141414;

// VARIABLES
$navbar-position: fixed; // fixed, sticky
$mobile-navbar-position: fixed; // fixed, sticky
$navbar-height: 100px;

// BREAKPOINTS
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1440px;

// SPACING
$spacing-xs: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-2xl: 5rem;

// SVG SIZES
$svg-size-sm: 24px;
$svg-size-md: 32px;
$svg-size-lg: 48px;

// TYPOGRAPHY
$font-family: 'Arial, Helvetica, sans-serif';
$font-size-base: clamp(24px, 5vw, 16px);
$font-size-lg: clamp(24px, 5vw, 20px);
$font-size-xl: clamp(28px, 5vw, 28px);
$font-size-2xl: clamp(36px, 5vw, 50px); // h3
$font-size-3xl: clamp(44px, 5vw, 60px); // h2
$font-size-4xl: clamp(52px, 5vw, 72px); // h1
$font-size-5xl: clamp(60px, 5vw, 88px);
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// MARGINS
$sections-padding: 5vh;
$sections-padding-lg: 8vh;

// GRADIENTS
$gradient-light: linear-gradient(0deg, $gray-light 0%, $gray-light 80%, transparent 100%);
$gradient-dark: linear-gradient(0deg, $gray-dark 0%, $gray-dark 80%, transparent 100%);
