@import '@/styles/global';

.navigation {
  @include container;
  width: 100%;
  height: $navbar-height;

  .logo {
    font-size: $font-size-xl;
  }
}

.block {
  @include flex(space-between, row);
  height: 100%;
}

.content {
  @include flex(space-between, row);

  svg {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  ul {
    @include flex(space-between, row);
    flex-wrap: wrap;

    li {
      display: flex;
    }
  }

  @include smallDevice() {
    display: none;
  }
}

.mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: responsiveSpacing(.3rem);

  svg {
    width: 100%;
    height: 100%;
  }

  @include largeDevice() {
    display: none;
  }
}
