@import '@/styles/global';

.block {
  @include grid(2, 10rem, 0rem);
  text-align: center;

  @include smallDevice() {
    @include grid(1, 10rem, 0rem);
  }
}

.left {
}

.right {
}

.content {
  @include container;
  width: 100%;

  @include largeDevice {
    width: 50%;
    @include flex;
  }

  h2 {
    margin-top: 0;
  }
}
